
@font-face {
    font-family: lemon;
    src: url("srcs/lemon.otf");
}

#all {
    
}

body {
    overflow:hidden;
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    width: 600px;
    height: 170px; 
    bottom: -90px;
    left: 50%;
    border-radius: 9px;
    transform: translate(-50%, -50%);
    animation: fromBottom 20s forwards;
}

.drawline {
    position: absolute;
    top: 20px;
    width: 600px;
    height: 30px; 
    background: #ffffff;
}

.picture {
    position: absolute;
    height: 200px;
    width: auto;
    left: -100px;
    bottom: -2px;
}

.title {
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 21px;
    font-family: lemon;
}

.text-content {
    position: absolute;
    top: 60px;
    left: 100px;
    color: white;
    font-size: 11px;
    width: 490px;
    font-family: lemon;
    text-align: justify;
}

@keyframes fromBottom {
    0% { 
        bottom: -500px; 
    }
    20% {
        bottom: -90px;
    }
    80% {
        bottom: -90px;
    }
    100% { 
        bottom: -500px;
    }
}